body {
    text-align: center;
    background-image: url(../assets/images/Neon.jpeg);
    background-size: cover;
    font-family: "Passion One", cursive;
    color: #fbf8fd;
}

h1 {
    font-size: 75px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

.jumbotron {
    background-image: url(../assets/images/sign.jpg);
    background-size: cover;
    color: #fbf8fd;
}

.container {
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.card {
    margin: 20px;
    height: 200px;
    padding: 0px;
    padding-top: 75px;
    background: #bfbfbf;
    display: inline-block;
    text-align: center;
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border: #fbf8fd 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.casino1 {
    background-image: url(../assets/images/planet.jpg);
    background-size: cover;
}

.casino2 {
    background-image: url(../assets/images/cromwell.jpg);
    background-size: cover;
}

.casino3 {
    background-image: url(../assets/images/mgm.jpg);
    background-size: cover;
}

.casino4 {
    background-image: url(../assets/images/caesars.jpg);
    background-size: cover;
}

.casino5 {
    background-image: url(../assets/images/mandalay.jpg);
    background-size: cover;
}

.casino6 {
    background-image: url(../assets/images/Cosmo.jpg);
    background-size: cover;
}

.casino7 {
    background-image: url(../assets/images/bellagio.jpg);
    background-size: cover;
}

.casino8 {
    background-image: url(../assets/images/venetian.jpg);
    background-size: cover;
}

.casino9 {
    background-image: url(../assets/images/Encore.jpg);
    background-size: cover;
}

.casino10 {
    background-image: url(../assets/images/wynn.jpg);
    background-size: cover;
}

.modal-content {
}

.modal-header {
    background: #363d66;
    color: rgb(255, 255, 255);
}

.close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fbf8fd;
    position: absolute;
    right: 20px;
    top: 5px;
}

.events-list {
    background: #8d97d1;
}

.event-container {
    background: #c7cef5;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
}

.ticket-link {
    font-size: 35px;
}

/* unvisited link */
a:link {
    color: hsl(24, 92%, 53%);
}

/* visited link */
a:visited {
    color: #0a1661;
}

/* mouse over link */
a:hover {
    color: #363d66;
}

/* selected link */
a:active {
    color: #ff9847;
}

.show-video {
    background: #7f90f1;
    color: #fbf8fd;
    font-size: 30px;
}

.video-area {
    height: 400px;
    background: white;
}

.hide {
    display: none;
}

footer {
    height: 75px;
    background: #363d66;
    text-align: left;
    padding: 25px;
}


